@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #171717;
  --color-bg-main: #ffffff;
  --color-border-light: #e2e8f0;
  --color-border-bold: #171717;
  --color-accent-main: #f59e0b;
  --color-accent-secondary: #d97706;
  --color-accent-light: #fffbeb;
  --color-bg-sources: #fafaf9;
  --color-bg-studio: #fafaf9;

  --font-sans: "Inter", sans-serif;

  --shadow-hard: 3px 3px 0px 0px #171717;
  --shadow-hard-sm: 1px 1px 0px 0px #171717;
  --shadow-hard-hover: 4px 4px 0px 0px #171717;
}

@layer base {
  body {
    background-color: var(--color-bg-main);
    color: var(--color-primary);
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 20;
    font-size: 20px;
  }

  .icon-sm {
    font-size: 18px;
  }

  .hatch-pattern {
    background-image: repeating-linear-gradient(
      45deg,
      var(--color-border-light),
      var(--color-border-light) 1px,
      transparent 1px,
      transparent 6px
    );
  }

  .table-row-hover:hover {
    background-color: #fafaf9;
  }
}
