# Backend API Base URL
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
# Host github.com
#     Hostname ssh.github.com       # 改成这个域名
#     Port 443
#     User git
#     # 如果你有特定私钥，可以加：
#     IdentityFile ~/.ssh/id_rsa
